<a href="/view/<%= current_user.uid %>">click this</a>

<form>
<input type="text" value="A year in the life of <%= current_user.uid %>">
</form>

<div class="theme-picker">
<% Style.all.each do |style| %>
  <div class="theme-option" data-style-id="<%= style.style_id %>" data-style-slug="<%= style.slug %>">
  <%= style.name %>
  </div>
<% end %>
</div>

<script>
	
	
	setInterval(function(){ 
		jQuery.when(
    		jQuery.getJSON("tweets/<%= current_user.id %>")
		).done( function(json) {
    		console.log(json['status']);
		});
		

	}, 300);


</script>