<!--
<div class="theme-picker">
<% Style.all.each do |style| %>
  <div class="theme-option" data-style-id="<%= style.style_id %>" data-style-slug="<%= style.slug %>">
  <%= style.name %>
  </div>
<% end %>
</div>
-->

<article class="theme <%= @current.style.slug %>">

  <header>
    <div class="inner">
      <h1>A year in the life of <%= @current.uid %>, a memoir.</h1>
      <div class="byline">by <a href="http://twitter.com/<%= @current.uid %>" target="_blank">@<%= @current.uid %></a></div>
    </div>
  </header>

  <% 
  sorted_tweets = @current.tweets.sort_by { |key, value| key["date"] }
  sorted_tweets.each_with_index do |tweet, i| %>
  <% 
  style_id = i+1
  classes = "style-" + style_id.to_s + ' emphasis-' + tweet.importance.to_s 
  %>
  <section class="<%= classes %>">
    <div class="inner">
      <img src="<%= tweet.gif.url %>" alt="<%= tweet.content %>" />
      <div class="date"><%= tweet.date.strftime("%m/%d/%Y") %></div>
      <h2><%= tweet.content %></h2>
    </div>
  </section>
  <% end %>

  <footer>
    <div class="inner">
      The End
      <div class="cta">
        <a href="/">See your year in GIFs</a>
      </div>
    </div>
  </footer>

</article>