<header>
  <%= render 'shared/logo' %>
  <div class="subhead">
    <h2>Turn your tweets into a web-zine</h2>
  </div>
  <a class="btn" href="/users/auth/twitter">Sign in with Twitter</a>
  <span class="agreement">By clicking "Sign in with Twitter",<br>you agree to our <a href="/terms">Terms</a></span>
</header>

<!-- #user.tweets.first.gif.url -->
<div class="feed">
  <h2>Hot off the press...</h2>
  <% @last_users.each_with_index do |user, index| %>
    <a class="item item-<%= index %>" href="/view/<%= user.uid %>">
      <img src='<%= image_url 'placeholder/giphy-' + (index+1).to_s + '.gif' %>'>
      <div class="content">
        <span class="user">@<%= user.uid %></span>
        <span class="tweet"><%= user.tweets.first.content unless user.nil? %></span>
      </div>     
      <% user.style_id unless user.nil? %>
    </a>
  <% end %>
</div>

<%= render 'shared/footer' %>