<!DOCTYPE html>
<html>
  <head>
    <title>Giffy</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    
    <link rel="shortcut icon" href="/-/img/favicon.ico"/>
    <%= stylesheet_link_tag 'application' %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>

    <!-- Admin -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400, 700' rel='stylesheet' type='text/css'>

    <!-- Runway -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    
    <!-- Stark -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!-- Neon -->
    <link href='http://fonts.googleapis.com/css?family=Ceviche+One' rel='stylesheet' type='text/css'>

    <!-- Bespoke -->
    <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

    <!-- Galactic -->
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    
    <!-- Google Analytics -->

  </head>

<body class="<%= body_class %>">

<%= yield %>

<% unless current_controler == 'view' %>
    <div class="site-credits">
      &copy;<%= Time.now.year %> ZZZINE<br>
      An experiment by <a href="http://twitter.com/coryetzkorn">@coryetzkorn</a> and <a href="http://twitter.com/elliottetzkorn">@elliottetzkorn</a><br>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    </div>
<% end %>

</body>
</html>
